
.loader {
    display: flex;
    align-items: center;
}

.loader .relogio {
    flex: 0.3;
}

.loader #price {
    flex: 1;
    margin-bottom: 6%;
}

.container {
    display: inline-block; /* Para o cartão não ocupar toda a largura */
    text-align: left; /* Ajusta o texto dentro do cartão */
}

#btn2 {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: larger;
}